# Exploring Scaling For feature Transformation

Importing Necessary Libary

In [1]:
import numpy as np
import pandas as pd

Reading The CSV File

In [2]:
df = pd.read_csv('supershops.csv')

Check for NaNs

In [3]:
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          1
Area               0
Profit             0
dtype: int64

Dropping the Row Where Data is Missing

In [4]:
df.dropna(inplace = True )
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          0
Area               0
Profit             0
dtype: int64

# Normalization

In [5]:
from sklearn.preprocessing import MinMaxScaler

In [6]:
df_norm = df.copy()
model_norm = MinMaxScaler()

In [7]:
df_norm['Marketing Spend'] = model_norm.fit_transform(df_norm[['Marketing Spend']]) # fit() = training the model ; transform() = replace the values
df_norm['Administration'] = model_norm.fit_transform(df_norm[['Administration']])
df_norm['Transport'] = model_norm.fit_transform(df_norm[['Transport']])
df_norm['Profit'] = model_norm.fit_transform(df_norm[['Profit']])

In [8]:
df_norm.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.692617        0.651744   1.000000    Dhaka  1.000000
1         0.983359        0.761972   0.940893      Ctg  0.997355
2         0.927985        0.379579   0.864664  Rangpur  0.993178
3         0.873136        0.512998   0.812235    Dhaka  0.947292
4         0.859438        0.305328   0.776136  Rangpur  0.853171

In [24]:
df_norm.dropna()

    Marketing Spend  Administration  Transport     Area    Profit
0          0.692617        0.651744   1.000000    Dhaka  1.000000
1          0.983359        0.761972   0.940893      Ctg  0.997355
2          0.927985        0.379579   0.864664  Rangpur  0.993178
3          0.873136        0.512998   0.812235    Dhaka  0.947292
4          0.859438        0.305328   0.776136  Rangpur  0.853171
5          0.797566        0.369448   0.769126    Dhaka  0.801382
6          0.814128        0.730161   0.270710      Ctg  0.796490
7          0.788018        0.717457   0.686493  Rangpur  0.794407
8          0.729018        0.741733   0.660500    Dhaka  0.774468
9          0.745906        0.436929   0.646443      Ctg  0.760661
10         0.616351        0.451506   0.485733  Rangpur  0.740175
11         0.608845        0.308364   0.529362      Ctg  0.729686
12         0.567670        0.578836   0.529563  Rangpur  0.714629
13         0.556352        0.641066   0.535552      Ctg  0.673644
14         0.725394        0.801327   0.543708  Rangpur  0.664044
15         1.000000        0.543030   0.554864    Dhaka  0.648921
16         0.471808        0.535270   0.560312      Ctg  0.632454
17         0.572468        0.714013   0.598948    Dhaka  0.623317
18         0.554881        0.478772   0.625116  Rangpur  0.617103
20         0.461169        0.476424   0.633053      Ctg  0.584482
21         0.474084        0.780210   0.635327    Dhaka  0.544157
22         0.447505        0.544293   0.642920  Rangpur  0.538747
23         0.408424        0.414638   0.645992  Rangpur  0.529634
24         0.465947        0.365388   0.297964    Dhaka  0.528609
25         0.391080        0.671958   0.292427      Ctg  0.522146
26         0.455574        0.706845   0.284134  Rangpur  0.512737
27         0.436093        0.582978   0.748613    Dhaka  0.508654
28         0.399467        1.000000   0.250429  Rangpur  0.498934
29         0.396769        0.774566   0.227092    Dhaka  0.486108
30         0.374931        0.489928   0.193163  Rangpur  0.480099
31         0.369741        0.772053   0.186989    Dhaka  0.466280
32         0.383485        0.593294   0.097683      Ctg  0.465966
33         0.335617        0.394134   0.454943  Rangpur  0.462312
34         0.280776        0.810055   0.446810      Ctg  0.461939
35         0.278284        0.257032   0.435618    Dhaka  0.460626
36         0.173353        0.576825   0.426311  Rangpur  0.428126
37         0.266527        0.000000   0.417626      Ctg  0.423852
38         0.122345        0.111636   0.392690    Dhaka  0.374747
39         0.233194        0.241309   0.370931      Ctg  0.373489
40         0.173901        0.512041   0.366260      Ctg  0.357914
41         0.168691        0.254469   0.348614  Rangpur  0.355430
42         0.142976        0.341852   0.313705      Ctg  0.319951
43         0.093776        0.579307   0.075319    Dhaka  0.310156
44         0.134127        0.788072   0.060059      Ctg  0.284485
45         0.006049        0.554724   0.004036    Dhaka  0.282940
46         0.007956        0.491260   0.629768  Rangpur  0.196020
47         0.000000        0.640547   0.000000      Ctg  0.156990
48         0.003278        0.003502   0.000000    Dhaka  0.118211
49         0.000000        0.500148   0.095749      Ctg  0.000000

# Standardization

In [10]:
from sklearn.preprocessing import StandardScaler

In [25]:
df_std = df.copy()
model_std = StandardScaler()

In [26]:
df_std['Marketing Spend'] = model_std.fit_transform(df_std[['Marketing Spend']]) # fit() = training the model ; transform() = replace the values
df_std['Administration'] = model_std.fit_transform(df_std[['Administration']])
df_std['Transport'] = model_std.fit_transform(df_std[['Transport']])
df_std['Profit'] = model_std.fit_transform(df_std[['Profit']])

In [27]:
df_std.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.895248        0.586658   2.165287    Dhaka  1.997924
1         1.943398        1.110709   1.929843      Ctg  1.986261
2         1.743767       -0.707282   1.626191  Rangpur  1.967846
3         1.546035       -0.072973   1.417348    Dhaka  1.765533
4         1.496650       -1.060289   1.273550  Rangpur  1.350548

# Robust Scaler

In [14]:
from sklearn.preprocessing import RobustScaler

In [15]:
df_robust = df.copy()
model_robust = MinMaxScaler()

In [16]:
df_robust.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [17]:
df_robust['Marketing Spend'] = model_robust.fit_transform(df[['Marketing Spend']]) # fit() = training the model ; transform() = replace the values
df_robust['Administration'] = model_robust.fit_transform(df[['Administration']])
df_robust['Transport'] = model_robust.fit_transform(df[['Transport']])
df_robust['Profit'] = model_robust.fit_transform(df[['Profit']])

In [18]:
df_robust.dropna()

    Marketing Spend  Administration  Transport     Area    Profit
0          0.692617        0.651744   1.000000    Dhaka  1.000000
1          0.983359        0.761972   0.940893      Ctg  0.997355
2          0.927985        0.379579   0.864664  Rangpur  0.993178
3          0.873136        0.512998   0.812235    Dhaka  0.947292
4          0.859438        0.305328   0.776136  Rangpur  0.853171
5          0.797566        0.369448   0.769126    Dhaka  0.801382
6          0.814128        0.730161   0.270710      Ctg  0.796490
7          0.788018        0.717457   0.686493  Rangpur  0.794407
8          0.729018        0.741733   0.660500    Dhaka  0.774468
9          0.745906        0.436929   0.646443      Ctg  0.760661
10         0.616351        0.451506   0.485733  Rangpur  0.740175
11         0.608845        0.308364   0.529362      Ctg  0.729686
12         0.567670        0.578836   0.529563  Rangpur  0.714629
13         0.556352        0.641066   0.535552      Ctg  0.673644
14         0.725394        0.801327   0.543708  Rangpur  0.664044
15         1.000000        0.543030   0.554864    Dhaka  0.648921
16         0.471808        0.535270   0.560312      Ctg  0.632454
17         0.572468        0.714013   0.598948    Dhaka  0.623317
18         0.554881        0.478772   0.625116  Rangpur  0.617103
20         0.461169        0.476424   0.633053      Ctg  0.584482
21         0.474084        0.780210   0.635327    Dhaka  0.544157
22         0.447505        0.544293   0.642920  Rangpur  0.538747
23         0.408424        0.414638   0.645992  Rangpur  0.529634
24         0.465947        0.365388   0.297964    Dhaka  0.528609
25         0.391080        0.671958   0.292427      Ctg  0.522146
26         0.455574        0.706845   0.284134  Rangpur  0.512737
27         0.436093        0.582978   0.748613    Dhaka  0.508654
28         0.399467        1.000000   0.250429  Rangpur  0.498934
29         0.396769        0.774566   0.227092    Dhaka  0.486108
30         0.374931        0.489928   0.193163  Rangpur  0.480099
31         0.369741        0.772053   0.186989    Dhaka  0.466280
32         0.383485        0.593294   0.097683      Ctg  0.465966
33         0.335617        0.394134   0.454943  Rangpur  0.462312
34         0.280776        0.810055   0.446810      Ctg  0.461939
35         0.278284        0.257032   0.435618    Dhaka  0.460626
36         0.173353        0.576825   0.426311  Rangpur  0.428126
37         0.266527        0.000000   0.417626      Ctg  0.423852
38         0.122345        0.111636   0.392690    Dhaka  0.374747
39         0.233194        0.241309   0.370931      Ctg  0.373489
40         0.173901        0.512041   0.366260      Ctg  0.357914
41         0.168691        0.254469   0.348614  Rangpur  0.355430
42         0.142976        0.341852   0.313705      Ctg  0.319951
43         0.093776        0.579307   0.075319    Dhaka  0.310156
44         0.134127        0.788072   0.060059      Ctg  0.284485
45         0.006049        0.554724   0.004036    Dhaka  0.282940
46         0.007956        0.491260   0.629768  Rangpur  0.196020
47         0.000000        0.640547   0.000000      Ctg  0.156990
48         0.003278        0.003502   0.000000    Dhaka  0.118211
49         0.000000        0.500148   0.095749      Ctg  0.000000

# Max Absolute Scaler

In [19]:
from sklearn.preprocessing import MaxAbsScaler

In [20]:
df_mas = df.copy()
model_mas = MaxAbsScaler()

In [21]:
df_mas['Marketing Spend'] = model_mas.fit_transform(df_mas[['Marketing Spend']]) # fit() = training the model ; transform() = replace the values
df_mas['Administration'] = model_mas.fit_transform(df_mas[['Administration']])
df_mas['Transport'] = model_mas.fit_transform(df_mas[['Transport']])
df_mas['Profit'] = model_mas.fit_transform(df_mas[['Profit']])

In [22]:
df_mas.dropna()

    Marketing Spend  Administration  Transport     Area    Profit
0          0.692617        0.749527   1.000000    Dhaka  1.000000
1          0.983359        0.828805   0.940893      Ctg  0.997557
2          0.927985        0.553781   0.864664  Rangpur  0.993699
3          0.873136        0.649738   0.812235    Dhaka  0.951317
4          0.859438        0.500378   0.776136  Rangpur  0.864383
5          0.797566        0.546494   0.769126    Dhaka  0.816549
6          0.814128        0.805926   0.270710      Ctg  0.812031
7          0.788018        0.796789   0.686493  Rangpur  0.810107
8          0.729018        0.814249   0.660500    Dhaka  0.791690
9          0.745906        0.595028   0.646443      Ctg  0.778938
10         0.616351        0.605512   0.485733  Rangpur  0.760015
11         0.608845        0.502561   0.529362      Ctg  0.750328
12         0.567670        0.697090   0.529563  Rangpur  0.736420
13         0.556352        0.741847   0.535552      Ctg  0.698565
14         0.725394        0.857110   0.543708  Rangpur  0.689698
15         1.000000        0.671338   0.554864    Dhaka  0.675730
16         0.471808        0.665757   0.560312      Ctg  0.660521
17         0.572468        0.794312   0.598948    Dhaka  0.652081
18         0.554881        0.625122   0.625116  Rangpur  0.646342
20         0.461169        0.623433   0.633053      Ctg  0.616212
21         0.474084        0.841923   0.635327    Dhaka  0.578966
22         0.447505        0.672246   0.642920  Rangpur  0.573969
23         0.408424        0.578996   0.645992  Rangpur  0.565552
24         0.465947        0.543574   0.297964    Dhaka  0.564605
25         0.391080        0.764065   0.292427      Ctg  0.558636
26         0.455574        0.789157   0.284134  Rangpur  0.549946
27         0.436093        0.700069   0.748613    Dhaka  0.546173
28         0.399467        1.000000   0.250429  Rangpur  0.537196
29         0.396769        0.837864   0.227092    Dhaka  0.525349
30         0.374931        0.633146   0.193163  Rangpur  0.519799
31         0.369741        0.836056   0.186989    Dhaka  0.507035
32         0.383485        0.707488   0.097683      Ctg  0.506746
33         0.335617        0.564249   0.454943  Rangpur  0.503370
34         0.280776        0.863388   0.446810      Ctg  0.503027
35         0.278284        0.465642   0.435618    Dhaka  0.501813
36         0.173353        0.695644   0.426311  Rangpur  0.471795
37         0.266527        0.280780   0.417626      Ctg  0.467847
38         0.122345        0.361071   0.392690    Dhaka  0.422492
39         0.233194        0.454334   0.370931      Ctg  0.421330
40         0.173901        0.649050   0.366260      Ctg  0.406945
41         0.168691        0.463799   0.348614  Rangpur  0.404650
42         0.142976        0.526646   0.313705      Ctg  0.371881
43         0.093776        0.697429   0.075319    Dhaka  0.362833
44         0.134127        0.847577   0.060059      Ctg  0.339123
45         0.006049        0.679748   0.004036    Dhaka  0.337696
46         0.007956        0.634104   0.629768  Rangpur  0.257413
47         0.000000        0.741474   0.000000      Ctg  0.221363
48         0.003278        0.283298   0.000000    Dhaka  0.185546
49         0.000000        0.640496   0.095749      Ctg  0.076361